:root {
  --theme-color: #eab703;
  --secondary-color: #caa508;
}
body {
  margin: 0;
  min-height: 100vh;
  background-color: lightblue;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.main-header {
  background-color: black;
  color: #ffffff;
  display: grid;
  grid-template-columns: 12em 1fr auto;
}
.logo {
  max-width: 120px;
}
.usernav a {
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
}
.usernav {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}
.search-form {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-self: center;
  min-width: 50%;
  border-radius: 4px;
  overflow: hidden;
}
.search-form input {
  flex: 1;
  padding: 0.5em;
  border: 1px solid transparent;
}
.search-form button {
  background-color: var(--theme-color);
  border: 1px solid transparent;
  min-width: 3em;
}
.container {
  display: grid;
  grid-template-columns: 12em 1fr;
}
.sidebar {
  background-color: var(--secondary-color);
}
.navigation {
  display: flex;
  flex-direction: column;
}
.navigation a {
  padding: 1em;
  color: black;
  text-decoration: none;
}
.navigation a:hover {
  text-decoration: underline;
  background-color: black;
  color: var(--theme-color);
}
/* footer style */
.main-footer {
  min-height: 12em;
  background-color: #666666;
}